{% extends 'core/base.html' %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog"
             id="modalSheet">
            <div class="modal-dialog" role="document">
                <div class="modal-content rounded-4 shadow">
                    <div class="modal-header border-bottom-0">
                        <h1 class="modal-title fs-5">Удалить рассылку?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body py-0">
                        <p>Вы точно хотите удалить рассылку?</p>
                    </div>
                    <div class="modal-footer flex-column align-items-stretch w-100 gap-2 pb-3 border-top-0">
                        <button type="submit" class="btn btn-lg btn-danger">Удалить.</button>
                        <a href="{% url 'home:index' %}" type="button" class="btn btn-lg btn-secondary"
                           data-bs-dismiss="modal">Отмена.</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
