{% extends 'core/base.html' %}
{% block content %}
    <div class="col-12 mb-5">
    <a class="btn btn-outline-primary" href="{% url 'blog:blogpost_create' %}">Добавить Блог</a>
    </div>
        {% for object in object_list %}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <div class="card-body">
                  <p class="card-text">
                        {{ object.title }}
{#                          <span class="text-muted">{{object|title}}</span>#}
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="{% url 'blog:blogpost_detail' object.pk %}"
                           class="btn btn-sm btn-outline-secondary">View</a>
                        <a href="{% url 'blog:blogpost_update' object.pk %}" type="button"
                           class="btn btn-sm btn-outline-secondary">Edit</a>
                        <a href="{% url 'blog:blogpost_delete' object.pk %}" type="button"
                           class="btn btn-sm btn-outline-danger">Delete</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        {% endfor %}
{% endblock %}