{% extends 'core/base.html' %}
{% block content %}
    <div class="container">
        <h1>Добро пожаловать на сервис рассылок!</h1>
        <h5>Здесь вы можете создать рассылки и отправлять их по расписанию для ваших клиентов .</h5>
        <br>
        <br>
        <p>Если у вас уже есть аккаунт, пожалуйста, <a href="{% url 'user:login' %}">войдите</a>.</p>
        <p>Если вы новый пользователь, вы можете <a href="{% url 'user:register' %}">зарегистрироваться</a>.</p>
    </div>
{% endblock %}